{% extends 'admin/base.html' %} {% block extrahead %}{{ block.super }}
<style>
  :root {
      --primary: #4d4d4d;
      --secondary: #0c8b51;
      --accent: #73cba4;
      --primary-fg: #fff;
      {#--header-color: #a9eac2;#}
      --darkened-bg: #badecc;
      --link-fg: #4d4d4d;
      --body-fg: #334f33;
      --hairline-color: #ffffff;
      --border-color:#ffffff;
      --selected-row: #ffc;
      --body-bg: #e9f4f0;
      --link-hover-color:#0c8b51;
      --body-quiet-color: #000000;

  }
</style>
{% endblock %}
