# Ignore compiled Python files
culinary_recipes/**/__pycache__/*.pyc
culinary_recipes/**/__pycache__/*.pyo
culinary_recipes/**/__pycache__/*.pyd


# Ignore compiled Python files
culinary_recipes/__pycache__/
culinary_recipes/*.pyc
culinary_recipes/*.pyo
culinary_recipes/*.pyd

# Ignore media files (uploads)
culinary_recipes/media/

# Ignore static files
culinary_recipes/static/

# Ignore local settings
culinary_recipes/local_settings.py

# Ignore environment-specific settings (for example, .env files)
culinary_recipes/*.env

# Ignore development-related files
culinary_recipes/.idea/
culinary_recipes/*.iml

# Ignore database backups
culinary_recipes/*.backup
culinary_recipes/*.dump

# Ignore log files
culinary_recipes/Logs/

# Ignore macOS specific files
culinary_recipes/.DS_Store

# Ignore PostgreSQL specific files
culinary_recipes/*.pgdata
culinary_recipes/*.pgdump
culinary_recipes/*.pgbackups
culinary_recipes/*.sql

# Ignore compiled JavaScript
culinary_recipes/node_modules/
culinary_recipes/dist/

# Ignore virtual environment
culinary_recipes/venv/

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# Ignore Certbot directory (if not used)
certbot/

# Ignore nginx directory (if not used)
nginx/

# Ignore PostgreSQL directory (if not used)
postgresql/

# Ignore GitHub-related files
# .github/

# Ignore Kate editor swap file
..gitignore.kate-swp

# Ignore LICENSE file (if needed)
# LICENSE

# Ignore README file (if needed)
# README.md

.vscode/launch.json

 culinary_recipes/envs/.env
 culinary_recipes/envs/.env.prod