@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html * {
    font-family: Oswald, Montserrat, helvetica, sans-serif;
}

body {
    /*background-color: #fefefe !important;*/
    background-color: white !important;
}

h1, h2, h3, h4 {
    text-align: center;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-size: 1.1rem;
    font-weight: 300;
    /*font-size: 2em;*/
    /*font-weight: bold;*/
}

a {
    text-decoration: none;
}

div.buttons {
    padding-top: 18px;
}

.btn:hover {
    background-color: #629262 !important;
    /*background-color: #ddf0e4 !important;*/
    color: cornsilk !important;
    transition: 0.7s;
}

#id_job_title {
    width: 100%;
    text-align: center;
    align-self: center;
}

/*FORM*/
form {
    margin-block: 10%;
    padding: 10px;
    height: auto;
}

/*.profile-h1 h1 {*/
/*    font-size: 3rem;*/
/*    font-weight: 600;*/
/*    !*margin-top: 20px;*!*/
/*    !*font-size: 8vw;*!*/
/*}*/

form label {
    margin: 20px;
    line-height: 0.2em;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

input:focus, textarea:focus {
    outline: solid 1px black;
}

form input, textarea {
    font-size: 12px;
    padding: 6px;
    width: 100%;
    border: 1px solid #f1f1e8;
    /*border-radius: 0px;*/
}

/*PAGINATION*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

a.text-pagination {
    font-weight: bold;
    margin: 10px;
    color: #000000;
}

a.text-pagination-here {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 4px;
    background: #ffffff;
    /*background: #f9f9f9;*/

    border: 2px solid #f30b0b;
    color: #000000;
    text-align: center;
}

a.text-pagination:hover {
    color: #f30b0b;
}

/*for profile details */
.info {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

.comments textarea {
    height: 60px;
    margin-right: 50px;
    /*width: 200px;*/
    /*resize: none;*/
    /*font-weight: bold;*/
}

.comment-form label {
    font-size: 0;
}


.comment-form {
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    /*font-size: 100%;*/
}

#search {

    width: 190px;
    align-items: center;
    color: white;
    margin: auto;
    border-color: white;
    background: black;
    padding-left: 2rem;
    /*height: 2.5rem;*/

}

.back-to {
    position: fixed;
    top: 105px;
    left: 0px;
}

.btn-img:hover {

    background-color: #ddf0e4 !important;
}

.btn-img-details:hover {
    background-color: #f4e9e4 !important;
}