{% extends 'base/base.html' %}
{% block page_content %}
    <body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"><span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <div class="card-body text-center my-3">
                <a class="btn btn-outline-dark text-center" href="{% url 'index' %}">Home</a>
                <button class="btn btn-outline-dark" onclick="history.back()">Go Back</button>
            </div>
        </div>
    </div>
    </body>
{% endblock %}