{% extends 'base/base.html' %}
{% block page_content %}
    <main class="main">
        <article class="profile-delete">
            <h2 class="title">404</h2>

            <p class="fs-3"><span class="text-danger">Упс!</span> Страницата не е намерена.</p>
            <p class="lead" style="color: red">
                Тази страница, която търсите не съществува.
            </p>

            <button class="btn" onclick="history.back()">Back</button>

        </article>
    </main>

{% endblock %}