{% extends 'base/base.html' %}
{% block page_content %}

    <main class="main">
       
   
        <div class="form-background">
    <div id="contactForm" class="contactForm">

            <div class="form-wrapper-left-side"></div>

            <form method="post" class="contactForm">
                <h2 class="title">Contact&nbsp;us</h2>
                <br>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="buttonWrapper">
                    <button type="submit" class="contactFormBtn">Send</button>
                </div>
            </form>
        </div>
          </div>
</main>

{% endblock %}
