{% extends 'base/base.html' %}
{% block page_content %}

    <!-- start -->
    <header class="mb-5 bg-black">
        <!-- Navbar -->

        <!-- Carousel wrapper -->
        <div id="carouselBasicExample" class="carousel slide carousel-fade shadow-5-strong" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                ></button>
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="1"
                        aria-label="Slide 2"
                ></button>
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="2"
                        aria-label="Slide 3"
                ></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-center text-white form-h1">
                                <h1 class="mb-4 ">НОМЕР 1 ВЕРИГА ПИЦАРИИ В БУРГАС! <br>ROMANCE</h1>

                                <a href="{% url 'all category' %}"
                                   class="btn btn-outline-light btn" data-mdb-ripple-color="light">Enter</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-center text-white form-h1">
                                <h1 class="mb-4 ">НОМЕР 1 ВЕРИГА ПИЦАРИИ В БУРГАС! <br>ROMANCE</h1>

                                <a href="{% url 'all category' %}"
                                   class="btn btn-outline-light btn" data-mdb-ripple-color="light">Enter</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-center text-white form-h1">
                                <h1 class="mb-4 ">НОМЕР 1 ВЕРИГА ПИЦАРИИ В БУРГАС! <br>ROMANCE</h1>
                                <a href="{% url 'all category' %}"
                                   class="btn btn-outline-light btn" data-mdb-ripple-color="light">Enter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </header>
    <main class="mb-5">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mb-4">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded-5"
                             data-mdb-ripple-color="light">
                            <img src="https://www.pizza-romance.com/template/style/images/Menu-r2.jpg" class="w-100"
                                 alt="Louvre"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3>На тази страница ще намерите всичко за храната, която създаваме за вас!</h3>
                        <p><strong> Всички актуални менюта техните категории и техните рецепти.</strong></p>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae blanditiis voluptas rerum
                            molestiae unde debitis consectetur, quod assumenda eius, labore obcaecati dignissimos qui!
                            Blanditiis deserunt alias nihil doloremque odit tempora.</p>
                    </div>
                </div>
                <hr class="my-5"/>
                <h4 id = 'menu' class="mb-5 text-center">НАШЕТО АКТУАЛНО МЕНЮ</h4>
                <div class="row gx-lg-5 text-center ">
                    <!-- Menu start here -->
                    {% for menu in menus %}
                        <div class="col-md-6">
                            <div class="card">
                                {#                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">#}
                                {#                                <img src="http://www.pizza-romance.com/upload/userfiles/images/MENU/Autumn/BG.jpg" class="img-fluid"#}
                                {#                                     alt=""/>#}
                                {#                                <a href="#!">#}
                                {#                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>#}
                                {#                                </a>#}
                                {#                            </div>#}
                                <div class="card-body">
                                    <h5 class="card-title">{{ menu.title.upper }}</h5>
                                    <p class="card-text">{{ menu.summary }}</p>
                                    <p class="card-text">{{ menu.year }}</p>
                                    <a href="{% url 'menu list' pk=menu.pk %}"
                                       class="btn btn-outline-dark">Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- Menu end here -->
                    {% endfor %}
                </div>
            </div>
            <hr class="my-5"/>
        </div>
    </main>
{% endblock %}
