{% extends 'base/base.html' %}
{% block page_content %}
    <main class="container text-black">

        <div class="title text-center">
            <img class="my-4" src="https://www.pizza-romance.com/template/style/images/logo-top-n.png"
                 alt="logo">
            <h2>ОПЕРАТИВЕН НАРЪЧНИК СЕРВИТЬОРИ</h2>
            <h1 class="display-1 fw-bold my-5">Стандарти за обслужване</h1>
        </div>
        <article class="WELCOME CUSTOMERS ">
            <h2 class="my-5">ПОСРЕЩАНЕ НА КЛИЕНТИ</h2>
            <ol>

                <li>Всеки клиент трябва да бъде посрещнат задължително от член на екипа с отваряне на входната врата на
                    ресторанта.
                </li>

                <li>Ако управителят няма възможност да посрещне клиента, то това се извършва от най-близкия до входа
                    сервитьор.
                </li>

                <li>С клиенти се говори само на „Вие”.</li>

                <li> Клиентите се посрещат винаги с усмивка и ясен поздрав, според часа от деня: „Добро утро!”/ „Добър
                    ден!”/ „Добър вечер!”.
                </li>

                <li>Ако евентуално никой не е посрещнал клиента, и той вече е влязъл сам, първият (сервитьор или
                    управител), който го види, следва с усмивка и да го посрещне.
                </li>

                <li>В ситуации когато служител приближава клиенти или се разминава с тях, той трябва да установи
                    зрителен
                    контакт с всеки клиент и отбележи присъствието му с усмивка.
                </li>

                <li>Ако в момента има пълна заетост на ресторанта, ние молим любезно клиента да почака, докато се
                    освободи маса, като внимаваме да спазим реда, по който са дошли клиентите, за да ги настаним
                    последователно.
                </li>

                <li> Сервитьорът уведомява управителя на смяна за изчакващите клиенти. Управителят на смяна се грижи за
                    настаняването на всички изчакващи клиенти.
                </li>

                <li> При несъгласие от страна на клиентите да изчакат, им предлагаме да проверим за свободна маса в
                    някой
                    от останалите ни ресторанти. <br>
                    • ако отговорът е положителен, управителя на смяна телефонира, за да провери;<br>
                    • ако отговора е отрицателен, се извиняваме и пожелаваме „Приятен ден”/ ”Приятна вечер”.
                </li>
            </ol>

        </article>
        <article class="ACCOMMODATION OF CUSTOMERS ">
            <h2 class="my-5">НАСТАНЯВАНЕ НА КЛИЕНТИ</h2>
            <ol>

                <li> След като е поздравил клиентите, сервитьора пита: <br>
                    • „Имате ли резервация?” – ако да, се следват процедурите от Правила за работа: “Обслужване на
                    клиенти с
                    резервация”; <br>
                    • Ако клиентът няма резервация сервитьорът пита:
                    „Маса за колко души/човека желаете?” и настанява клиентите на маса според техния брой.
                </li>

                <li> Сервитьорът придружава клиентите до масата, като никога не посочва, а придружава клиента до
                    неговата
                    маса. След това им поднася меню като се усмихва и казва „Заповядайте!”.
                </li>

                <li> Сервитьорът се старае да настани двама души на двойка маса, четирима на четворка, по-голяма
                    компания
                    на шестица и, когато се налага, се съединяват маси. Сервитьорът не настоява - ако клиента избере
                    по-голяма маса, сервитьорът се съгласява с думите: „Разбира се, заповядайте.”.
                </li>

                <li> Клиентите се настаняват само на добре почистена маса. Ако масата не е почистена, сервитьорът я
                    почиства веднага с думите: „Извинявайте, веднага ще почистя”.
                </li>

                <li> След освобождаване на масата и почистването й за настаняване на следващи клиенти, сервитьорът на
                    района е длъжен да провери дали масата е добре позиционирана и стои стабилно.
                </li>

                <li> Ако клиентите са с деца, се предлага детско столче.</li>

            </ol>
        </article>
        <article class="PRE-ORDER ">
            <h2 class="my-5">
                ПРЕДВАРИТЕЛНА ПОРЪЧКА
            </h2>
            <ol>

                <li> В рамките на 1 минута, сервитьорът, на чийто район са настанени клиенти, отива до масата,
                    поздравява ги според времето от деня („Добро утро”, „Добър ден”, „Добър вечер”), като същевременно
                    предоставя менюта на всеки.
                </li>

                <li> Ако управителя прецени, че обслужващия района сервитьор няма да успее да поднесе менюта в рамките
                    на 1 минута след сядането на клиентите, той/тя лично поднася менютата и уведомява клиентите, че
                    сервитьора ще бъде на тяхно разположение след минутa.
                </li>

                <li> С поднасянето на меню, сервитьорът задължително представя актуалното сезонно меню и подаръка към
                    него (в случай, че има такъв), с думите „Заповядайте, това е нашето сезонно меню, при поръчка от
                    него, получавате подарък чаша ……..”.
                </li>

                <li> След поднасянето на меню, сервитьора пита: „Желаете ли нещо за пиене, докато избирате?”.</li>

                <li> Напитките се сервират не по-късно от 5 минути след взимане на поръчката от клиента, от сервитьора
                    на района, а при невъзможност – от сервитьора/управителя взел поръчката.
                </li>

                <li> Всеки сервитьор трябва да се старае да обслужи клиентите възможно най-бързо.</li>

                <li> Ако клиентът бърза, Предварителната поръчка може да включи и взимането на основната поръчка.</li>

            </ol>
        </article>
        <article class="WAITING ">
            <h2 class="my-5">
                ИЗЧАКВАНЕ
            </h2>
            <p class="text-center">
                (тази стъпка не се следва, в случай, че клиента направи своята поръчка за напитки и храна още с
                поднасянето на меню)
            </p>
            <ol>

                <li> При липса на Предварителна поръчка, сервитьорът следи реакциите на клиента, като се старае да
                    разбере
                    по държанието му дали е готов да поръча.
                </li>

                <li> Сервитьорът отива до масата не по-късно от 3 минути след поднасяне на менюто, за да провери дали
                    клиента е готов да поръча.
                </li>

                <li> Ако клиента се колебае, сервитьора му помага в избора, като го пита дали е готов да поръча и дали
                    има
                    нужда от помощ.
                </li>

                <li> Сервитьорът в никакъв случай, не трябва да кара клиента да чака, но и не трябва да притеснява
                    клиентите, които имат нужда от повече време за избор.
                </li>

                <li> Със сервирането на Предварителната поръчка, сервитьора пита клиентите дали са направили своя избор
                    за
                    основната поръчка.
                </li>
            </ol>
        </article>
        <article class="ORDER ACCEPTANCE ">
            <h2 class="my-5">
                ПРИЕМАНЕ НА ПОРЪЧКА
            </h2>
            <ol>

                <li>Преди да пристъпи към взимане на поръчка, всеки сервитьор трябва да се увери, че има химикал и
                    сервитьорски тефтер. Всички поръчки се записват.
                </li>

                <li>Важно е клиента да остане с впечатлението, че той е в центъра на вниманието. Усмивката, погледът и
                    тонът на гласа на сервитьора трябва да показват, че му е приятно да помогне в избора на клиента.
                </li>

                <li>Позата на сервитьора е изправена, а краката събрани.</li>

                <li>Сервитьорът изслушва поръчката, като кима утвърдително и я записва.</li>

                <li>Сервитьорът не се опира на масата, не се оглежда наоколо, а е изцяло фокусиран към клиента.</li>

                <li>В случай, че клиентът се колебае, сервитьора предлага помощта си. При избора може да се помогне,
                    като
                    например се пита какъв вид месо предпочита и т.н.
                </li>

                <li>При поръчване на пица сервитьорът задължително пита: „Малка или голяма?” и задължително предлага:
                    „Желаете ли сос към пицата?”.
                </li>

                <li>Ако бъде попитан, сервитьорът е длъжен да даде точна информация за начина на приготвяне на ястията и
                    напитките, както и за съставките им.
                </li>

                <li>Всички ястия и напитки трябва да се знаят наизуст, а не да се търси в менюто или да се консултира с
                    кухнята.
                </li>

                <li> Сервитьорът трябва да покаже на клиента, че е готов да се съобрази с неговите желания, когато те са
                    по-различни от обявените в менюто.
                </li>
                Пример: Клиентът пита дали може салатата му да бъде без лук - ние му отговаряме „Разбира се”.
                <li> Когато клиентът поиска нещо, което го няма в менюто, сервитьора се извинява и обяснява, че ще
                    попита
                    колегите в кухнята и веднага ще информира клиента.
                </li>
                </li>

                <li> Клиентите трябва да се предупреждават, ако дадено ястие изисква по-дълго време за приготвяне или
                    има
                    голямо натоварване в кухнята и то ще бъде забавено за определен период от време.
                </li>

                <li> След записване на цялата поръчка, сервитьора я повтаря стегнато и отчетливо на клиента.</li>

                <li> След като клиента потвърди поръчката си, сервитьора му благодари с усмивка и краткото „Благодаря
                    Ви”. <br>
                    В случай, че клиента завърши поръчката си с думите „Благодаря”, сервитьорът не отговаря с „Моля”, а
                    отново с краткото „Благодаря Ви”.
                </li>
            </ol>
        </article>
        <article class="ACCEPTING WINE ORDERS ">
            <h2 class="my-5">
                ПРИЕМАНЕ НА ПОРЪЧКА ЗА ВИНО
            </h2>
            <ol>

                <li> Когато клиента изяви желание да пие вино, сервитьора му дава възможност той сам да направи своя
                    избор от винената листа на ресторанта. В случай, че се колебае, се насочва вниманието му към
                    определен вид вино с упътващи въпроси: <br>
                    • Бяло, червено или розе; <br>
                    • Наливно или бутилирано; <br>
                    • Малка или голяма бутилка. <br>
                </li>

                <li> След като клиента е направил своя избор, сервитьора го пита с колко чаши да сервира виното (в
                    случай, че не е сам).
                </li>
            </ol>

        </article>
        <article class="SERVING A BASIC ORDER ">
            <h2 class="my-5">
                СЕРВИРАНЕ НА ОСНОВНА ПОРЪЧКА
            </h2>
            <p class="text-center"><b>Сервирането и обслужването на клиенти трябва да е в услуга на самите клиенти и не
                трябва да ги
                притеснява или да ги кара да се чувстват некомфортно. Сервитьорът не трябва да е доминантен и натрапчив,
                а ефикасен и невидим. </b></p>
            <ol>

                <li> Преди сервиране на храната, пред всеки клиент се поставят чисти прибори в сгъната салфетка.</li>

                <li> Преди поднасяне на ястията, сервитьорът е длъжен да провери дали отговарят на презентацията в
                    менюто – външен вид, начин на подреждане, грамаж, украса, както и дали чинията е чиста и без
                    наранявания.
                </li>

                <li> Чашите се носят само на табла. Хващат се за столчето и/ или в основата на чашата. По чашата не
                    трябва да има отпечатъци от пръсти и други петна.
                </li>

                <li> Всички ястия и напитки се поднасят с усмивка и думите: <b>„Заповядайте”</b>.</li>

            </ol>
        </article>
        <article class="SERVING WINE ">
            <h2 class="my-5">
                СЕРВИРАНЕ НА ВИНО
            </h2>
            <ol>


                <li> Бутилката се отваря задължително на масата от сервитьора.</li>

                <li> Чашата може да бъде напълнена: <br>
                    • За бели вина - максимум до половината; <br>
                    • За червени вина – максимум една трета. <br>
                </li>

                <li> Препоръчително е по време на консумация, чашите на клиентите да се допълват редовно от
                    сервитьора.
                </li>

                <li> Белите вина се поставят в термо съдове. Червените вина се поставят на масата с етикета към
                    клиента.
                </li>

                <li> След като се изпразни бутилката, се предлага нова бутилка от същото вино.</li>

                <li> Ако клиентът желае да поръча вино, различно от предишното, всички чаши за вино (ако са празни) се
                    подменят и се зарежда с нови.
                </li>

                <li> Сервиране на чаша вино: <br>
                    • Вино на чаши се носи и сервира винаги само от сервитьорска табла и никога от ръка.
                </li>
            </ol>
        </article>
        <article class="INTERMEDIATE SERVICE ">
            <h2 class="my-5">
                МЕЖДИННО ОБСЛУЖВАНЕ
            </h2>

            <ol>


                <li> Сервитьорът се грижи за клиента по време на целия му престой в ресторанта, а не само докато вземе и
                    сервира основната му поръчка.
                </li>

                <li> Не бива да се позволява клиента да търси и чака сервитьор. Сервитьорът трябва да наблюдава
                    клиентите
                    си и винаги да бъде в полезрението им.
                </li>

                <li> Сервитьорът трябва да стои близо до своите маси и никога с гръб към клиентите.</li>

                <li> Веднъж, за предпочитане по средата на престоя, сервитьор или управител трябва да мине през масата,
                    за
                    да се увери, че всичко е наред с думите: <b>„Всичко наред ли е, имате ли нужда от нещо?”</b>. Това
                    трябва да
                    стане ненатрапчиво и непринудено, и в никакъв случай да не прекъсва клиентите в неподходящ момент
                    (например в момент на оживен разговор).
                </li>

                <li> Сервитьорът трябва непрекъснато да следи масите си за нови поръчки и за празни чинии и чаши.</li>

                <li> При отсервиране на празна чаша, сервитьора задължително пита: <b>„Желаете ли още една ... (от
                    същата
                    напитка)?”</b>.
                </li>

                <li> При отсервиране на основна поръчка, сервитьора задължително пита: <b>„Желаете ли десерт или
                    кафе?”</b>.
                </li>

                <li> Ако сервитьор забележи, че клиенти от друг район имат някакво желание, а колегата му от този район
                    е
                    зает, то той се отнася с тях, като с негови клиенти. Веднага предава желанията им към съответния
                    сервитьор. <b>Никога на клиент не се отговаря: „Не съм на този район” или „Сега ще извикам
                        колежката”</b>.
                </li>

                <li> Когато сервитьора не може да отговори на нуждите на клиента или не е упълномощен да го направи,
                    трябва да повика управителя на смяна.
                </li>
            </ol>
        </article>
        <article class="ASHTRAY CHANGE ">
            <h2 class="my-5">
                СМЯНА НА ПЕПЕЛНИК
            </h2>
            <ol>

                <li>Всички пепелници трябва да бъдат сменяни на максимум три угарки.</li>
                <li>Смяната на пепелниците трябва да бъде извършвана с табла, в която сервитьорът носи чисти пепелници
                    за смяна.
                </li>

                <li>Използвайки чист пепелник, сервитьорът покрива мръсния, взема и двата, поставя ги върху таблата и
                    връща чистия. Целта е да не разпилее пепел по време на извършване на процедурата.
                </li>

                <li>При смяната на пепелници, сервитьорът не трябва да създава дискомфорт на клиентите, чрез подаване на
                    команди към тях (например, да вземат цигарата си от пепелника или да изгасят добре цигарата си).
                </li>

                <li>Сервитьорът трябва да осигури наличието на достатъчен брой пепелници на масата, за да не се налага
                    клиентите да си подават пепелници или да се пресягат, за да достигнат пепелник.
                </li>
            </ol>
        </article>
        <article class="SERVING ">
            <h2 class="my-5">
                ОТСЕРВИРАНЕ
            </h2>

            <ol>

                <li>Преди отсервиране, всеки сервитьор трябва да има разрешението за това от самият клиент. Сервитьорът
                    се осведомява за това чрез задаването на учтиви въпроси: <b>”Мога ли да отсервирам чинията Ви?” или
                        „Приключихте ли с ястието?”</b>.
                </li>

                <li>Никой сервитьор не трябва да отсервира повече от три чинии едновременно. Вместо това трябва да се
                    направят няколко курса.
                </li>

                <li>При oтсервирането на инвентар и прибори трябва да следват следните стъпки: <br>
                    3.1. При отсервиране, сервитьорите не трябва да поставят чинии с храна една върху друга. В случай,
                    че е необходимо да се отсервират повече от две чинии с остатъци от храна, сервитьорът трябва да се
                    върне повторно или да помоли колега за помощ. <br>
                    3.2. Сервитьорите не трябва да оставят чинии с остатъци от храна в тях. Всички чинии, в които има
                    храна, се изчистват, като храната се изхвърля в пригодените за това кошове пред шубера.<br>
                    3.3. След изхвърлянето на остатъчната храна в предназначения за това кош, чиниите се подреждат една
                    върху друга, заемайки възможно най-малко място върху шубера. Приборите се слагат в кошницата за
                    мръсни прибори.<br>
                    3.4. Сервитьорите отсервират чашите на бара, като при отсервирането не ги поставят една върху друга
                    или една в друга, а ползват табла, в която всички чаши са подредени по най-безопасния начин.<br>
                </li>

                <li>Преди да бъдат поднесени десерти на клиентите, масата трябва да е почистена от ненужните чинии и
                    прибори.
                </li>

            </ol>
        </article>
        <article class="SUBMISSION OF BILL ">
            <h2 class="my-5">
                ПОДНАСЯНЕ НА СМЕТКА
            </h2>

            <ol>

                <li>Сметката се поднася на клиента, само когато той я e поискал.</li>

                <li>Сервитьорът винаги пита <b>“В брой или с карта желаете да платите?”</b>.</li>

                <li>Преди да извадите сметката, уверете се, че тя отразява точната поръчка на клиента.</li>

                <li>Сметката представлява приключен бон и се поднася по определеният за веригата начин (в папка, с
                    визитка).
                </li>

                <li>Сервитьорът поднася сметката на клиента <b>не по късно от 3 минути</b> след нейното поискване. Ако
                    има
                    проблем с това (технически или друг), то той или Управителя трябва да отиде на масата да се извини и
                    любезно да обясни на клиента, че има технически проблем и да го помоли да изчака.
                </li>

                <li>След като сметката е поднесена, сервитьорът оставя <b>около три минути</b> на клиента да прегледа и
                    заплати
                    сметката, като междувременно наблюдава клиента. Ако междувременно клиентът не е подал знак или
                    повикал
                    сервитьора, той или тя се връща на масата след три минути и пита клиента дали сметката е уредена.
                </li>
            </ol>
        </article>
        <article class="PAYMENT ">
            <h2 class="my-5">
                РАЗПЛАЩАНЕ
            </h2>

            <ol>
                <li><i>Плащане в брой: </i><br>
                    1.1. Когато сметката е заплатена, сервитьорът взема папката, благодари и се оттегля, за да провери
                    точността на сумата.<br>
                    1.2. Сервитьорът винаги връща ресто на клиента, независимо колко малка е сумата.<br>
                    1.3. Бакшиш се счита за получен само след като сервитьорът е върнал точно ресто, което клиента връща
                    обратно, определяйки го като бакшиш или след напускане на клиентите, сумата оставена от тях в
                    папката
                    със сметката.
                </li>


                <li><i>Разплащане с карта чрез POS терминал: </i><br>
                    2.1. Сервитьорът взима POS терминала , като се уверява че устройството има достатъчно батерия и
                    функционира.<br>
                    2.2. Въвежда точната сума от сметката на клиента или частта, която той желае да плати с карта.<br>
                    2.3. Взима картата от клиента и в зависимост от това дали картата е с чип или с магнитна лента,
                    поставя
                    картата в устройството или минава с нея през магнитния четец.<br>
                    2.4. Моли любезно клиента да въведе пин кода си, като обръща поглед за да не види кода. Никога
                    сервитьора
                    не трябва да се съгласява да използва чужд ПИН код, ако му го кажат. Операцията винаги се извършва
                    пред
                    клиента.<br>
                    2.5. Бележката , която излезе е за клиента а сервитьора вади копие, на което моли клиента да се
                    подпише.
                    Това копие остава в ресторанта и с него сервитьора се отчита в края на смяната си.
                </li>
            </ol>
        </article>
        <article class="SUBMITTING CUSTOMERS ">
            <h2 class="my-5">
                ИЗПРАЩАНЕ НА КЛИЕНТИ
            </h2>

            <ol>
                <li> Всеки клиент се изпраща <b>с усмивка.</b></li>

                <li> На напускащите ресторанта клиенти се отваря входната врата и се пожелава: <b>„Довиждане,
                    заповядайте
                    отново”</b> от всеки от персонала, който се окаже на пътя им.
                </li>

                <li> Всички забравени и намерени вещи се предават на управителя, който следва процедурата от Правила за
                    работа: „Намерени и върнати вещи”.
                </li>

            </ol>
        </article>
        <article class="CUSTOMER COMPLAINTS mb-10">
            <h2 class="my-5">
                ОПЛАКВАНИЯ ОТ КЛИЕНТИ
            </h2>
            <ol>
                <li>Когато клиент ви заговори, за да се оплаче или изрази недоволство, вие трябва да спрете и да не
                    вършите нищо друго в този момент.
                </li>
                <li>Слушайте внимателно и покажете разбиране.</li>
                <li>Позволете на клиента да се изкаже и в никакъв случай <b>не го прекъсвайте</b>.</li>
                <li>В никакъв случай не бъдете арогантни или раздразнителни.</li>
                <li><b>Никога</b> не повишавайте глас.</li>
                <li><b>Никога</b> не спорете или доказвайте на клиента, че не е прав – те са достатъчно разочаровани или
                    раздразнени.
                </li>
                <li><b>Никога</b> не се оправдавайте, че не е ваша вината – клиентът не го интересува чия е вината, а
                    факта, че
                    е
                    ощетен.
                </li>
                <li><b>Никога</b> не прехвърляйте вината върху друг – отново не е важно чия е вината, просто овладейте
                    ситуацията.
                </li>
                <li><b>Никога</b> не казвайте, че няма какво да направите по въпроса – ако вие няма какво да направите,
                    има
                    хора,
                    които могат да разрешат ситуацията.
                </li>

                <li><b>Никога</b> не обещавайте или компенсирайте с нещо, за което не сте оторизирани.</li>

                <li><b>Благодарете</b> на клиента, че ви е споделил проблема и с любезен тон го информирайте, че веднага
                    ще
                    уведомите управителя на смяна и той ще дойде, за да се погрижи за разрешаване на ситуацията.
                </li>
            </ol>
        </article>
    </main>

{% endblock %}