@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik Distressed&display=swap');


h1, h2, h3, h4 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

div.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    color: #000000;
}

div.item {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    -moz-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
}

div.item img.rounded-circle {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.item div.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item li {
    align-items: center;
    text-align: left;
}

div.item div.time img {
    width: 32px;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
}

div.buttons {
    padding-top: 18px;
    font-family: FuturaPT, helvetica, sans-serif;

}

/*Button Text not to be uppercase*/
.btn {
    text-transform: unset !important;
}

#id_job_title {
    width: 100%;
    text-align: center;
    align-self: center;
    /*padding-top: 18px;*/
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
}


/*FORM*/
form {
    /*margin-block: 10%;*/
    /*padding: 10px;*/
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

.form-h1 h1 {
    margin-top: 20px;
    font-family: Rubik Distressed, Dosis, FuturaPT, helvetica, sans-serif;
    /*font-size: 8vw;*/
    font-size: 4.5rem;
    font-weight: 500;
}

form label {
    /*padding: .875rem .75rem;*/
    font-family: FuturaPT, helvetica, sans-serif;
    margin: 12px;
    line-height: 0.2em;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

form input,
textarea {
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
    padding: 6px;
    width: 100%;
    border: 1px solid #f1f1e8;
    /*border-radius: 0px;*/
}

/*PAGINATION*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

a.text-pagination {
    font-weight: bold;
    margin: 20px;
    color: #000000;
}

a.text-pagination-here {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 4px;

    background: #fff;
    border: 2px solid #f30b0b;
    color: #000000;
    text-align: center;

}

a.text-pagination:hover {
    color: #f30b0b;
}

/*for profile details */
.info {
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

nav {
    font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

footer {
    font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.comments textarea {
    /*width: 200px;*/
    /*resize: none;*/
    height: 60px;
    /*font-weight: bold;*/
    margin-right: 50px;

}

.comment-form label {
    font-size: 0;
}


.comment-form {
    width: 100%;
    align-items: center;
    display: flex;
    /*font-size: 100%;*/
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

#search {


    align-items: center;
    margin: auto;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding-left: 2rem;
    /*height: 2.5rem;*/

}

/*.card {*/
    /*filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0));*/
    /*box-shadow: none;*/
/*}*/

/*.card:hover {*/
    /*box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);*/
    /*-moz-box-shadow: black;*/
    /*transform: translateY(5px);*/
/*}*/

