@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


h1, h2, h3, h4 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

div.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    color: #000000;
}

div.item {
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    -moz-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
}

div.item img.rounded-circle {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.item div.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item li {
    align-items: center;
    text-align: left;
}

div.item div.time img {
    width: 32px;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
}

div.buttons {
    padding-top: 18px;
    font-family: FuturaPT, helvetica, sans-serif;

}

/*Button Text not to be uppercase*/
/*.btn {*/
/*  text-transform: unset !important;*/
/*}*/

#id_job_title {
    width: 100%;
    text-align: center;
    align-self: center;
    /*padding-top: 18px;*/
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
}

/*div.recipe-info {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    padding: 5px;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 2;*/
/*    -webkit-box-orient: vertical;*/
/*}*/


/*img {*/
/*    width: 400px;*/
/*    height: 100px;*/
/*    max-width: 80%;*/
/*    max-height: 30%;*/
/*}*/


/*FORM*/
form {
    /*margin-block: 10%;*/
    /*padding: 10px;*/
    margin-left: 25%;
    margin-right: 25%;
    width: 60%;
    height: auto;
}

.form-h1 h1 {
    margin-top: 20px;
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
}

form label {
    /*padding: .875rem .75rem;*/
    font-family: FuturaPT, helvetica, sans-serif;
    margin: 12px;
    line-height: 0.2em;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

form input,
textarea {
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
    padding: 6px;
    width: 100%;
    border: 1px solid #f1f1e8;
    /*border-radius: 0px;*/
}

/*PAGINATION*/
.pagination {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 12px 17px;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover,
.pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 2px;
    display: flex;
    padding: 1px 2px;
    color: #fff;
    font-size: 1.3em;
    align-items: center;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}

/*for profile details */
.info {
    font-family: Dosis, FuturaPT, helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

nav {
    font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

footer {
    font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.comments textarea{
    height: 60px;
    width: available;

}

/*test*/
div.buttons-container {
    display: block;
    float: right;
    margin: 10px;
}

/*div.buttons-container .button,*/
/*input[type="submit"] {*/
/*    padding: 10px;*/
/*    width: 100px;*/
/*    font-size: 14px;*/
/*    border-radius: 5px;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    color: white;*/
/*}*/