{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load tags %}
{% load static %}
{% block page_content %}
    <main class="main">
        <div class="heading">
            <h2 class="title">{{ object.title }}</h2>
            {% if object.base_type %}
                <p>Тип: {{ object.base_type }}</p>
            {% endif %}
        </div>
        <article class="wrapper">
            
            {% comment %} {% if object.baseingredient_set.all %} {% endcomment %}
                <!-- table ingredient -->
                <div class="single-ingredients">
                    <h3><i class="fa-solid fa-clipboard-list"></i>Ingredients</h3>
                    <table class="ingredients-table">
                    <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Amount</th>
                        <th>Preparation Method</th>
                    </tr>
                    </thead>
                        <tbody>
                        {% for ingredient in object.baseingredient_set.all %}
                            <tr>
                                <td  class="ingredient-name" >{{ ingredient.food }}</td>
                                <td>{{ ingredient.amount_number|floatformat }} {{ ingredient.unit }} {{ ingredient.quantity|cut:'None' }}</td>
                                <td>{{ ingredient.preparation_method|cut:'None' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- table ingredient end  -->
                </div>


                <div class="recipe-info">
                <h3><i class="fa-solid fa-circle-info"></i>More Info</h3>
                {% if prep_method %}
                    <!-- preparation method -->
                    {% for method in prep_method %}
                        <p ><b>Preparation method:
                            <br>
                        </b>{{ method }}</p>
                    {% endfor %}
                {% endif %}

                {% if object.note %}
                <br>
                    <!-- note -->
                    <p><b>Note:</b> 
                        <br>
                        {{ object.note }}</i></p>
                {% endif %}

                {% if object.preparation %}
                <br>
                    <!-- preparation -->
                    <p><b>Preparation:</b> <br> <p class="white-space">{{ object.preparation }}</p></p>
                {% endif %}
                        <div class="yield-portions"> 


                        
                {% if object.base_yield %}
                    <!-- yield -->
                    <p><b>Yield:</b>  {{object.base_yield }}</i></p>
                {% endif %}

                {% if  object.base_recipe_portions %}
                    <!-- portions -->
                    <p><b>Portions:</b> {{ object.base_recipe_portions }} </i></p>
                {% endif %}
            </div>
            </div>


        </article>
        <br>
        <div class="buttons">
            <a class="btn" href="javascript:history.back()"><h5><i class="fas fa-caret-left"></i> Back</h5></a>
            <a class="btn" href="{% url 'base recipe' %}"><h5>Base <i class="fas fa-caret-right"></i></h5></a>
        </div>
        <br>
    </main>
{% endblock %}
{##}
{#        <!-- title -->#}
{#        {{ object.title }}#}
{##}
{#        <!-- type -->#}
{#        {% if object.base_type %}#}
{#            <p>Тип: {{ object.base_type }}</p>#}
{#        {% endif %}#}
{##}
{##}
{#        {% if object.baseingredient_set.all %}#}
{##}
{#            <!-- ingredient -->#}
{##}
{#            <!-- table ingredient -->#}
{##}
{#            {% for ingredient in object.baseingredient_set.all %}#}
{##}
{#                {{ ingredient.food }}#}
{#                - {{ ingredient.amount_number|floatformat }} {{ ingredient.unit }} {{ ingredient.quantity|cut:'None' }}#}
{#                {% if ingredient.preparation_method %}#}
{#                    {{ ingredient.preparation_method }}#}
{#                {% endif %}#}
{##}
{#            {% endfor %}#}
{##}
{#            <!-- table ingredient end  -->#}
{##}
{##}
{#            <!-- preparation method -->#}
{#            {% if prep_method %}#}
{#                {% for method in prep_method %}#}
{#                    <p>{{ method }}</p>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{##}
{#            <!-- note -->#}
{#            {% if object.note %}#}
{#                <p>{{ object.note }}</p>#}
{#            {% endif %}#}
{#            <!-- preparation -->#}
{#            {% if object.preparation %}#}
{#                <p>{{ object.preparation }}</p>#}
{#            {% endif %}#}
{#            <!-- yield -->#}
{#            {% if object.base_yield %}#}
{#                <p>{{ object.base_yield }}</p>#}
{#            {% endif %}#}
{#            <!-- portions -->#}
{#            {% if  object.base_recipe_portions %}#}
{#                <p>{{ object.base_recipe_portions }} </p>#}
{#            {% endif %}#}
{##}
{#        {% endif %}#}
{##}
{#        <a href="{% url 'base recipe' %}" class="text-black float-end"><h5>ОСНОВИ <i#}
{#                class="fas fa-caret-right"></i></h5></a>#}
{#        <a href="javascript:history.back()" class="text-black "><h5><i#}
{#                class="fas fa-caret-left"></i> НАЗАД</h5></a>#}