{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load tags %}
{% load static %}
{% block page_content %}
    <!-- main container -->
    <div class="container">
        <div class="menu my-3 text-black">
            <!-- category -->


            <!-- title -->
            <h1 class="card-title text-black my-5 mb-5">{{ object.title }}</h1>
            <div class="card-body text-center ">
                <!-- type -->
                {% if object.base_type %}
                    <p>Тип: {{ object.base_type }}</p>
                {% endif %}
            </div>
        </div>
        <section class="section-all-base mb-5">
            {#от тук#}
            <div class="row mb-5">
                <div class="col-lg-3 col-sm-1"></div>
                <div class="col-lg-6 col-sm-2">
                    <div class="card shadow-6-strong col-12">

                        <div class="card-body col-12">
                            <!-- ingredient -->
                            {% if object.baseingredient_set %}
                                <!-- table ingredient -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Съставки:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ingredient in object.baseingredient_set.all %}
                                        <tr>
                                            <td>{{ ingredient.food }}
                                                - {{ ingredient.amount_number|floatformat }} {{ ingredient.unit }} {{ ingredient.quantity|cut:'None' }}</td>
                                            {% if ingredient.preparation_method %}
                                                <td>{{ ingredient.preparation_method }}</td>
                                            {% endif %}
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- table ingredient end  -->
                            {% endif %}
                        </div>

                        <div class="card-body col-12">
                            <!-- preparation method -->
                            {% if prep_method %}
                                {% for method in prep_method %}
                                    <p>{{ method }}</p>
                                {% endfor %}
                            {% endif %}

                            <!-- portions -->
                            {% if  object.base_recipe_portions %}
                                <p>Порций: {{ object.base_recipe_portions }} </p>
                            {% endif %}
                            <!-- note -->
                            {% if object.note %}
                                <p>Бележка: {{ object.note }}</p>
                            {% endif %}
                            <!-- preparation -->
                            {% if object.preparation %}
                                <p class="text-center">Приготвяне: <i>{{ object.preparation }}</i></p>
                            {% endif %}
                            <!-- yield -->
                            {% if object.base_yield %}
                                <p>Готово количество: {{ object.base_yield }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer my-3 ">
                            <a href="{% url 'base recipe' %}" class="link-danger"><h5>БАЗОВИ РЕЦЕПТИ <i
                    class="fas fa-hand-point-left"></i></h5></a>
{#                            <a type="button" class="btn btn-outline-dark float-end"#}
{#                               href="{% url 'index' %}">Home</a>#}
{#                            <button class="btn btn-outline-dark float-none" onclick="history.back()">Back#}
{#                            </button>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-1"></div>
            </div>
        </section>
    </div>
{% endblock %}
