{% extends 'base/base.html' %}
{% block page_content %}

<div class="container">
    <h1>Add Ingredient</h1>
    <div class="items-container">
        <div class="item bg-dark">
{#            <form method="POST" action="{% url 'create recipe' %}">#}
            <form method="POST"  action="{% url 'create ingredient' %}">
                {{ form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-dark" value="Create">
            </form>
        </div>
    </div>
</div>
{% endblock %}