{% extends 'base/base.html' %}
{% block page_content %}


    <!-- main container -->
    <div class="container">
        {% if not object_list %}

            <!-- card block title -->
            <div class="card shadow-none">
                <div class="card-body text-black menu">
                    <h1 class="card-title my-4">Няма намерен резултат</h1>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2 text-center">
                            <button class="btn btn-outline-dark" onclick="history.back()">Go Back</button>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </div>
                <section class="section-all-base">
                </section>
            </div>

        {% else %}
            <!-- main container -->
            <!-- card block title -->
            <div class="card mb-4 shadow-none">
                <div class="card-body text-black menu shadow-none">
                    <h1 class="card-title">Резултати</h1>
                </div>
            </div>

            <section class="section-all-base">
                <div class="container">

                    <!-- Cards row -->
                    <div class="row row-cols-2 row-cols-md-4 g-4">
                        <!-- For Recipes-->
                        {% for search in object_list %}
                            <!-- Cards col -->
                            <div class="col">
                                <!-- card start -->
                                <div class="card mb-0 h-100 hover-shadow">

                                    <img class="rounded-circle" src="{{ search.image_recipe.image.url }}"
                                         alt="...">
                                    <h5 class="card-title text-center  mb-0">{{ search.title }}</h5>
                                    <div class="card-body">
                                        <p class="card-text">{{ search.food_type }}</p>
                                    </div>
                                    <!-- card footer -->
                                    <div class="card-footer text-center">
                                        <a href="{% url 'recipe detail' pk=search.pk %}"
                                           class="btn btn-outline-dark">Details</a>
                                    </div>
                                </div>
                                <!-- card end -->
                            </div>
                        {% endfor %}
                        <!-- back button-->
                    </div>
                    <div class="card mb-4 my-3"></div>

                </div>
            </section>
            <div class="card-body text-center my-3">
                <a class="btn btn-outline-dark text-center" href="{% url 'index' %}">Home</a>
                <button class="btn btn-outline-dark" onclick="history.back()">Go Back</button>
            </div>
        {% endif %}
    </div>
{% endblock %}