{% extends 'base/base.html' %}
{% block page_content %}
    <main class="long-main">

        {% if not object_list %}
            <main class="main">
                <h2 class="title">Няма намерен резултат</h2>
                <button class="btn" onclick="history.back()">Back</button>
            </main>
        {% else %}
            <h2 class="title">Резултати</h2>
            <div class="card-grid">
                {% for search in object_list %}
                    {% if search.category.is_activ %}

                        <div class="card"  data-title="{{ search.title.upper }}">
                            <a href="{% url 'recipe detail' pk=search.pk %}">
                                <div class="card-img"></div>
                                <img class="grow-img" src="{{ search.image_recipe.image.url }}"
                                     alt="{{ search.image_recipe.image.name }}"/>

                                {% comment %} <div class="card-body">
                                    <h5 class="card-title">{{ search.title.upper }}</h5>
                                </div> {% endcomment %}
                            </a>
                            {% comment %} <a href="{% url 'category detail' search.category.pk %}">{{ search.category }}</a> {% endcomment %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock %}
