{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="container-fluid">
        <h1 class="title"></h1>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="card mb-2">
                <div class="card-body">
                    <h1 class="card-title">Активни Менюта</h1>
                </div>

            </div>

            <div class="row">
                {% for menu in menus %}

                    <main class="container">
                        <div class="bg-light p-5 rounded">
                            <h1>{{ menu.title }} {{ menu.year }}</h1>
                            <p class="lead">{{ menu.summary }}</p>

                            {#                            <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button"></a>#}
                            <a href="{% url 'menu category' pk=menu.pk %}" class="btn btn-outline-dark">Details</a>


                        </div>
                    </main>

                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{#<img src="{% static 'images/menu.png' %}" class="rounded mx-auto d-block img-fluid" alt="...">#}