{% extends 'base/base.html' %}
{% block page_content %}

    {#                <div class="container-fluid">#}
    {#                    <h1 class="title">menu-categories-list.html</h1>#}
    {#                    <h3>http://127.0.0.1:8001/menu/1/</h3>#}
    {#                    <h3>path('menu/pk', menu_list_view, name='menu list'),</h3>#}
    {#                </div>#}
    <!-- main container -->

    <div class="container">
        <!-- card block title -->
        <div class="menu my-3 mb-8 text-black">
            <h1>{{ menu }}</h1>

        </div>
        <section class="section-menu-details">
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3 mb-10">
                <!-- For category-->

                {% for category in categories %}
{#                {% for category in page_obj.object_list.all %}#}
                    <div class="col  mb-0">
                        <!-- card start -->
                        <div class="card hover-shadow mb-0 h-100">
                            <img class="rounded-circle" src="{{ category.image_category.image.url }}" alt="...">
                            <div class="card-body mb-0">
                                {% if category.note %}
                                    <p class="card-text text-center"><i>{{ category.note }}</i></p>
                                {% endif %}
                            </div>
                            <div class="card-footer mb-0 text-center">
                                <h5 class="card-title text-center">{{ category.name }}</h5>
                            </div>
                            <div class="card-footer mb-0 text-center">
                                <a href="{% url 'category detail'  pk=category.pk %}"
                                   class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- card end -->
                {% endfor %}

            </div>
            <!-- back button-->
            {#        <button class="btn btn-outline-dark" onclick="history.back()">Go Back</button>#}
        </section>
        <div class="card-body pagination mb-2">
            {% if categories.has_previous %}
                <a class="text-pagination" href="?page={{ categories.previous_page_number }}">« Previous page</a>
                {% if categories.number > 3 %}
                    <a class="text-pagination" href="?page=1">1</a>
                    {% if categories.number > 4 %}
                        <span class="text-pagination">...</span>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% for num in categories.paginator.page_range %}
                {% if categories.number == num %}
                    <a class="text-pagination-here" href="?page={{ num }}">{{ num }}</a>
                {% elif num > categories.number|add:'-3' and num < categories.number|add:'3' %}
                    <a class="text-pagination" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if categories.has_next %}
                {% if categories.number < categories.paginator.num_pages|add:'-3' %}
                    <span>...</span>
                    <a class="text-pagination"
                       href="?page={{ categories.paginator.num_pages }}">{{ categories.paginator.num_pages }}</a>
                {% elif categories.number < categories.paginator.num_pages|add:'-2' %}
                    <a class="text-pagination"
                       href="?page={{ categories.paginator.num_pages }}">{{ categories.paginator.num_pages }}</a>
                {% endif %}
                <a class="text-pagination" href="?page={{ categories.next_page_number }}">Next Page »</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

