{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load tags %}
{% load static %}
{% block page_content %}
    <div class="container">
{#        <h1 class="title">recipe-details-waiters.html</h1>#}
{#        <h3>http://127.0.0.1:8001/detail/1/</h3>#}
{#        <h3>path('detail/pk/', RecipeDetailsView.as_view(), name='recipe detail'),</h3>#}

        <div class="items-container">
            <div class="item bg-light">
                <!-- category -->
                <a href="{% url 'category detail' pk=recipe.category.pk %}" class="link-danger text-center">
                    <h3>{{ recipe.category }}</h3></a>
                <!-- title -->
                <h2><b>{{ recipe.title }}</b></h2>
                <!-- image -->
                <img class="rounded-circle" src="{{ recipe.image_recipe.image.url }}" alt="{{ recipe.title }}">
                <!-- release time -->
                <div class="time">
                    <p>Време за реализация: </p>
                    <img src="{% static 'images/clock.svg' %}" alt="clock.png">
                    <p>{{ recipe.release_time }} Мин.</p>
                </div>
                <div>
                    <div class="container text-center">
                        <div class="row">

                            <div class="col">
                                <h3>Съставки</h3>
                                <ul>
                                    <!-- ingredients -->

                                    {% for ingredient in object.ingredient_set.all %}
                                        <!-- base -->
                                        <li>{{ ingredient }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="col">
                                <!-- food plate -->
                                <p><i>Издаваме в: {{ recipe.food_plate }}</i></p>
                                <!-- finish -->
                                {% if recipe.finish %}
                                    <p><i>Завършваме: {{ recipe.finish }}</i></p>
                                {% endif %}
                                <!-- serving value -->
                                <h6><i>Общо количество: {{ recipe.serving_value }} гр.</i></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <!-- summary -->
                    {% if recipe.summary %}
                        <h3>Summary</h3>
                        <p>{{ recipe.summary }}</p>
                    {% endif %}
                </div>
                <!-- allergens -->
                {% if object.allergen %}
                    <div class="container text-center">
                        <h3>Алергени</h3>
                        <ul>
                            {% for name in object.allergen.all %}
                                <li><i>{{ name }}</i></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <!-- buttons -->
                <div class="buttons-container text-center ">
                    <button class="btn btn-outline-dark left" onclick="history.back()">Go Back</button>
                    <a class="btn btn-outline-dark  position-relative " href="{% url 'index' %}">Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}