{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load tags %}
{% load static %}
{% block page_content %}

{#    <main class="long-main{% if not is_fixed_main %} unfixed{% endif %}">#}
    <main class="long-main">




        {# style = "background-image: #}
        {#linear-gradient(266deg, rgba(255,255,255,0.6811099439775911) 0%, rgba(0,0,0,0.35898109243697474) 0%),#}
        {# url({{ recipe.image_recipe.image.url }}); #}
        {# background-repeat: no-repeat; #}
        {# background-size: cover; #}
        {#background-position: 25% 75%;#}
        {# background-position: center;" > #}

        <div class="recipe-details">

            <h2 class="title">{{ recipe.title }}</h2>
            <div class="back-to">
                <a href="{% url 'category detail' pk=recipe.category.pk %}"><i
                        class="fa-solid fa-backward-step"></i>&nbsp;{{ recipe.category.name.upper }}</a>
            </div>

            <div class="details-wrapper">

                <div class="img-wrapper">
                    <img class="img" src="{{ recipe.image_recipe.image.url }}" alt="{{ recipe.title }}">
                </div>
                <!-- ingredients -->

                <div class="single-ingredients">
                    <h3><i class="fa-solid fa-clipboard-list"></i>Ingredients</h3>

                    <table class="ingredients-table">
                        {#                        <thead>#}
                        {#                        <tr>#}
                        {#                            <th>Name</th>#}
                        {#                            <th>Amount</th>#}
                        {#                            <th>Quantity</th>#}
                        {#                            <th>Preparation</th>#}
                        {#                        </tr>#}
                        {#                        </thead>#}
                        <tbody>
                        {% for ingredient in recipe_ingredients %}
                            {% if not ingredient.base %}
                                <tr>
                                    <td class="ingredient-name">{{ ingredient.food }}</td>
                                    <td class="ingredient-amount">{{ ingredient.amount_number|floatformat|cut:'None' }}&nbsp;{{ ingredient.unit|cut:'None' }}</td>
                                    <td class="ingredient-quantity">{{ ingredient.quantity|cut:'None' }}</td>
                                    {% if ingredient.preparation_method %}
                                        <td class="ingredient-preparation">{{ ingredient.preparation_method }}</td>
                                    {% else %}
                                        <td class="ingredient-preparation">&nbsp;</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <!-- base -->
                                <tr>
                                    <td class="ingredient-name"><a href="{% url 'base_recipe detail' pk=ingredient.base.pk %}">{{ ingredient.food }}</a></td>
                                    <td class="ingredient-amount">{{ ingredient.amount_number|floatformat|cut:'None' }}&nbsp;{{ ingredient.unit|cut:'None' }}</td>
                                    <td class="ingredient-quantity">{{ ingredient.quantity|cut:'None' }}</td>
                                    {% if ingredient.preparation_method %}
                                        <td class="ingredient-preparation">{{ ingredient.preparation_method }}</td>
                                    {% else %}
                                        <td class="ingredient-preparation">&nbsp;</td>
                                    {% endif %}

                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="recipe-info">
                    <h3><i class="fa-solid fa-circle-info"></i>More Info</h3>
                    <table >
                        <tbody>
                        <tr class="release-time">
                            <td>
                                Release time:
                            </td>
                            <td>
                                {{ recipe.release_time|cut:'None' }} min.
                            </td>
                        </tr>

                        {% if recipe.finish %}
                            <tr class="finish">
                                <td>
                                    Finish:
                                </td>
                                <td>
                                    {{ recipe.finish }}
                                </td>
                            </tr>

                        {% endif %}

                        <tr class="serving">
                            <td>Serving:</td>
                            <td>{{ recipe.serving_value|cut:'None' }} gr.</td>
                        </tr>
                        <tr class="plate">
                            <td>Plate:</td>
                            <td>{{ recipe.food_plate }}</td>
                        </tr>

                        {% if recipe.preparation_method %}
                            <tr class="preparation">
                                <td>Preparation:</td>
                                <td>{{ recipe.preparation_method }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>
                <!-- description -->
                {% if recipe.description %}
                    <div class="description">
                        <h3><i class="fa-regular fa-rectangle-list"></i>Description</h3>
                        {{ recipe.description }}
                    </div>
                {% endif %}

                <!-- video -->
                {% if recipe.video_recipe %}
                    <div class="video-container" style="display: none">
                        {% video recipe.video_recipe.video as my_video %}
                        {% video my_video '100% x 100%' %}
                        {% endvideo %}
                    </div>
                {% endif %}
            </div>


            <!-- comments -->

            <section class="comments-wrapper">
                <div class="comment-form-holder">
                    <form action="{% url 'comment recipe' recipe_id=recipe.pk %}" method="post" class="comment-form">
                        {{ form }}
                        {% csrf_token %}
                        <div class="buttons">
                            <button class="btn">Коментирай</button>
                        </div>

                    </form>
                </div>
                <div class="comment-posts">
                    {% for comment in  recipe.recipecomment_set.all %}

                        <div class="comment-details">
                            <span class="comment-author"><b>{{ comment.user.profile.full_name }}:</b></span>
                            <p>{{ comment }}</p>
                            <br>

                            <span class="comment-date"><b>&nbsp;Publication&nbsp;date:</b>{{ comment.publication_date_and_time }}</span>

                            {% if request.user == comment.user %}
                                <br>
                                <div class="buttons">
                                    <a class="btn" href="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"
                                       role="button">Delete</a>
                                    <a class="btn" href="{% url 'comment edit' pk=comment.pk recipe_id=recipe.pk %}"
                                       role="button">Edit</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- end comments -->
        </div>
    </main>

{% endblock %}


