{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load tags %}
{% load static %}
{% block page_content %}

    <main class="container">

        <h1 class="text-black my-5">{{ recipe.title }}</h1>

        <div class="row">
            <div class="col-sm-0 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-8">

                <div class="card hover-zoom " style="-webkit-box-shadow: -3px 12px 49px 60px rgba(211,235,221,0.9);
                                                      -moz-box-shadow: -3px 12px 49px 60px rgba(211,235,221,0.9);
                                                       box-shadow: -3px 12px 49px 60px rgba(211,235,221,0.9);">

                    <a href="{% url 'category detail' pk=recipe.category.pk %}" class="text-black"
                       style=" margin-left: 50px; margin-top:50px">
                        <h4>{{ recipe.category.name.upper }} <i class="fas fa-hand-point-left"></i></h4></a>
                    <img class="rounded-circle my-2" style="margin: 80px" src="{{ recipe.image_recipe.image.url }}"
                         alt="{{ recipe.title }}">
                    <div class="card-body col-12">
                        <!-- image -->

                        <div class="text-center">
                            <p>Време за реализация: <br>
                                <img src="{% static 'images/clock.svg' %}" alt="clock.png">
                                <b>{{ recipe.release_time }}</b> Мин.</p>
                        </div>
                        <!-- release time -->

                        <!-- ingredients -->
                        <div class="container col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h4>Съставки:</h4>
                                    {% for ingredient in recipe.ingredient_set.all %}
                                        <dl class="badge-warning">
                                            <dd>{{ ingredient.food }}

                                            </dd>
                                        </dl>
                                    {% endfor %}
                                </div>
                                {% if recipe.allergen.all %}

                                    <div class="col-6">
                                        <h4>Алергени:</h4>
                                        {% for name in recipe.allergen.all %}
                                            <dl class="badge-info" style="margin-left: 20px">
                                                <dd>{{ name }}

                                                </dd>
                                            </dl>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-center">
                            {% if recipe.finish %}
                                <i class="text-success">Завършваме : </i><br>
                                <b class="">{{ recipe.finish }}</b><br>
                            {% endif %}
                            <i class="text-success ">Kоличество : </i><br>
                            <b class="">{{ recipe.serving_value }} гр. </b><br>
                            <i class="text-success ">Издаваме в : </i><br>
                            <b class="">{{ recipe.food_plate }}</b><br>

                        </div>
                        <br>
                        <!-- description -->

                        <div class="col-12">
                            {% if recipe.summary %}
                                <h2>Информация</h2>
                                <p class="text-center">{{ recipe.summary }}</p>
                            {% endif %}
                        </div>
                        <div class="card-body ">
                            <a href="{% url 'category detail' pk=recipe.category.pk %}" class="text-black">
                                <h4>{{ recipe.category.name.upper }} <i class="fas fa-hand-point-left"></i></h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-0 col-md-0 col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-0 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-8">
                <!-- comments -->
                <div class="card my-5" style="background-color: #f0f2f5;">
                    <div class="comments card-body p-4">
                        <form action="{% url 'comment recipe' recipe_id=recipe.pk %}" method="post"
                              class="comment-form">
                            {{ form }}
                            {% csrf_token %}
                            <div class="text-center my-4">
                                <button class="btn comment-button btn-outline-dark">Comment</button>
                            </div>
                        </form>
                        {% for comment in  recipe.recipecomment_set.all %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <p>{{ comment }}</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small mb-0 ms-2">{{ comment.user.profile.full_name }}</p>
                                            <p class="small mb-0 ms-2">{{ comment.publication_date_and_time }}</p>
                                        </div>

                                        <div class="text-center">
                                            {% if request.user == comment.user %}
                                                <a class="btn btn-primary text-danger  btn-floating m-0"
                                                   style="background-color: #ffffff"
                                                   href="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"
                                                   role="button"><i class="fas fa-trash"></i></a>
                                                <a class="btn btn-primary text-danger btn-floating m-0"
                                                   style="background-color: #ffffff"
                                                   href="{% url 'comment edit' pk=comment.pk recipe_id=recipe.pk %}"
                                                   role="button"><i class="fas fa-edit"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end comments -->
            </div>
            <div class="col-sm-0 col-md-1 col-lg-2"></div>
        </div>
    </main>

{% endblock %}
