{% extends 'base/base.html' %}
{% block page_content %}
    <div class="container-fluid">
        <h1 class="title">show-all-base-recipes.html</h1>
        <h3>http://127.0.0.1:8001/base/</h3>
        <h3> path('base/', BaseRecipeListView.as_view(), name='base recipe'), </h3>
    </div>
    <div class="container">
        <div class="card mb-2">
            <div class="card-body">
                <h3 class="card-title">Всички Базови Рецепти</h3>
            </div>
        </div>
        <div class="row row row-cols-2 row-cols-md-4 g-4">
            <!-- For Recipes-->
            {% for base in object_list %}
                <div class="col mb-2">
                    <!-- card start -->
                    <div class="card mb-2 h-100" style="max-width: 19.5rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ base.title }}</h5>
                            {% if base.base_type %}
                                <p class="card-text">{{ base.base_type }}</p>
                            {% endif %}

                            <div class="fixed-bottom">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'base_recipe detail' pk=base.pk %}"
                               class="btn btn-outline-dark">Details</a>
                        </div>
                    </div>
                    <!-- card end -->
                </div>
            {% endfor %}
        </div>
        <div class="pagination-circle text-center mb-2">
            <div class="card mb-2">
                <div class="card-body pagination mb-2">
                    {% if page_obj.has_previous %}
                        <a class="text-pagination" href="?page={{ page_obj.previous_page_number }}">« Previous page</a>
                        {% if page_obj.number > 3 %}
                            <a class="text-pagination" href="?page=1">1</a>
                            {% if page_obj.number > 4 %}
                                <span class="text-pagination">...</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="text-pagination-here" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="text-pagination" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <span>...</span>
                            <a class="text-pagination"
                               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                            <a class="text-pagination"
                               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                        <a class="text-pagination" href="?page={{ page_obj.next_page_number }}">Next Page »</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
