{% extends 'base/base.html' %}
{% block page_content %}

    <div class="container min-vh-75">
        <div class="card mb-2 shadow-none text-black">
            <div class="card-body ">
                <h1 class="card-title">Всички Базови Рецепти</h1>
            </div>
        </div>
        <section class="section-all-base">
            <div class="row row row-cols-2 row-cols-md-4">
                <!-- For Recipes-->
                {% for base in object_list %}
                    <div class="col shadow-none mb-2 g-2">
                        <!-- card start -->
                        <div class="card mb-2 h-100 shadow-6-strong hover-shadow" style="max-width: 19.5rem;">
                            <div class="card-body">
                                <h5 class="card-title text-success text-center">{{ base.title.upper }}</h5>
                                {% if base.base_type %}
                                    <p class="card-text">{{ base.base_type }}</p>
                                {% endif %}

                                <div class="fixed-bottom">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'base_recipe detail' pk=base.pk %}"
                                   class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                        <!-- card end -->
                    </div>
                {% endfor %}
            </div>
        </section>
        <div class="pagination-circle text-center">
            <div class="card shadow-none mb-2">
                <div class="card-body pagination mb-2">
                    {% if page_obj.has_previous %}
                        <a class="text-pagination" href="?page={{ page_obj.previous_page_number }}">« Previous
                            page</a>
                        {% if page_obj.number > 3 %}
                            <a class="text-pagination" href="?page=1">1</a>
                            {% if page_obj.number > 4 %}
                                <span class="text-pagination">...</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="text-pagination-here" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="text-pagination" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <span>...</span>
                            <a class="text-pagination"
                               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                            <a class="text-pagination"
                               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                        <a class="text-pagination" href="?page={{ page_obj.next_page_number }}">Next Page »</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
