{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="container h-auto">
        <div class="row mb-3">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-10 col-sm-2">
                {# ot tuk#}
                <!-- form -->
                <form action="{% url 'change password' %}" method="post">
                    <div class="form-h1 text-black my-4">
                        <h1>Change password</h1>
                    </div>
                    <hr class="my-4"/>
                    {% csrf_token %}
                    {{ form }}
                    <div class="buttons mb-5">
                        <br>
                        <button type="submit" class="btn btn-dark btn-block">Save changes</button>
                        <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                            Back</a>
                    </div>
                </form>
                {# do tuk#}
            </div>
            <div class="col-lg-1 col-sm-1"></div>
        </div>
    </div>
{% endblock %}