{% extends 'base/base.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}
    <main class="main">
        <article class="form-wrapper">
            <h2 class="title">Change password</h2>
            <br>
            <!-- form -->
            <form class="form" action="{% url 'change password' %}" method="post">
                {% csrf_token %}
                {#{{ form }}#}
                <label for="password1"><b>Стара Парола:</b></label>
                {% comment %} {{ form.old_password|placeholder:'Въведи старата си парола' }} {% endcomment %}
                {{ form.old_password }}

                <label for="password1"><b>Нова Парола:</b></label>
                {% comment %} {{ form.new_password1|placeholder:'Въведи нова парола' }} {% endcomment %}
                {{ form.new_password1 }}

                <label for="password2"><b>Нова Парола:</b></label>
                {% comment %} {{ form.new_password2|placeholder:'Въведи новата парола повторно' }} {% endcomment %}
                {{ form.new_password2 }}


                <br>
                <div class="buttons">
                    <button type="submit" class="btn">Change&nbsp;password</button>
                    <a class="btn" href="javascript:history.back()">Back</a>
                </div>
            </form>
        </article>
    </main>
{% endblock %}