{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main class="container" style="min-height: 80.3vh">
        <div class="form-h1 my-3 my-5 text-black">
            <h1>Change password</h1>
        </div>
        <section class="col-12">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="card hover-shadow col-sm-4 ">

                    <!-- form -->
                    <form action="{% url 'change password' %}" method="post">

                        <hr class="my-4"/>
                        {% csrf_token %}
                        {{ form }}
                        <div class="buttons   my-3">
                            <br>
                            <button type="submit" class="btn btn-dark btn-block">Save changes</button>
                            <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                                Back</a>
                        </div>
                    </form>

                </div>
                <div class="col-sm-4"></div>
            </div>
        </section>
    </main>
{% endblock %}