{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">
        <!-- card block title -->
        <div class="form-h1 my-3 my-5 text-black">
            <h1>My Account</h1>
        </div>
        <section class="section-profile col-12">
            <div class="row">
                <div class="col-sm-4"></div>
                <!-- card start -->
                <div class="card hover-shadow col-sm-4 ">

                    <div class="card-body">
                        <h5 class="card-title text-center">{{ object.profile.full_name.upper }}</h5>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text text-center"><i>You are logged in as <b>{{ object.email }}</b>
                            <br><a class="text-danger " href="{% url 'sign out' %}">Logout</a></i></p>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text text-center"> Job Title: {{ object.profile.job_title.upper }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text text-center"> Last Login: <br>{{ object.last_login.date }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="buttons buttons my-3">
                            <br>
                            <a class="btn btn-black btn-block" href="{% url 'edit user' pk=request.user.pk %}">Profile
                                edit</a>

                            <a class="btn btn-danger btn-block" href="{% url 'delete user' pk=request.user.pk %}">Profile
                                delete</a>
                            <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                                Back</a>
                        </div>
                    </div>
                    <!-- card end -->

                </div>
                <div class="col-sm-4"></div>
            </div>
        </section>
    </div>
{% endblock %}


