{% extends 'base/base.html' %}
{% load placeholders %}
{% block page_content %}

    <main class="main">
        <article class="form-wrapper">

            <h1>Edit Profile</h1>
            <form class="form" action="{% url 'edit user' pk=request.user.pk %}" method="post"
                  enctype="multipart/form-data">
                <label for="first_name">First Name:</label>
                {{ form.first_name|placeholder:'Enter your first name' }}

                <label for="last_name">Last Name:</label>
                {{ form.last_name|placeholder:'Enter your last name' }}

                <label for="job_title">Job Title:</label>
                {{ form.job_title }}

                {% csrf_token %}
                <div class="buttons">
                    <button class="btn" type="submit">Save Changes</button>
                    <a class="btn" href="{% url 'change password' %}">Change Password</a>
                    <a class="btn" href="javascript:history.back()">Back</a>
                </div>
            </form>
        </article>
    </main>
{% endblock %}

{#    Edit Profile Form#}
{##}
{#    <form action="{% url 'edit user' pk=request.user.pk %}" method="post" enctype="multipart/form-data">#}
{#        <label for="first_name">Име</label>#}
{#        {{ form.first_name|placeholder:'Въведи името си' }}#}
{#        <label for="last_name">Фамилия</label>#}
{#        {{ form.last_name|placeholder:'Въведи фамилията си' }}#}
{#        <label for="job_title">Длъжност</label>#}
{#        {{ form.job_title }}#}
{##}
{#        {% csrf_token %}#}
{##}
{#        <button type="submit">Edit</button>#}
{#        <a href="{% url 'change password' %}">Change password</a>#}
{#        <a href="javascript:history.back()">Back</a>#}
{##}
{#    </form>#}