{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!-- container -->
    <div class="container h-75">
        <!-- item container -->
        <div class="items-container">
            <!-- item -->
            <div class="item">
                <!-- h1 -->
                <div class="form-h1">
                    <h1>{{ object.profile.full_name }} <br> you sure want to delete your profile?</h1>
                </div>
                <form method="post" action="{% url 'delete user' pk=request.user.pk %}" enctype="multipart/form-data">
                    <hr class="my-4"/>
                    {{ form }}
                    {% csrf_token %}
                   <div class="buttons mb-5">
                        <button type="submit" class="btn btn-danger btn-block">Yes</button>
                        <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                            Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}