{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <main class="main">

        <article class="profile-info">
            <h1>Profile info</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>User Details</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ object.profile.full_name.upper }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ object.email }}</td>
                </tr>
                <tr>
                    <td>Job Title</td>
                    <td>{{ object.profile.get_job_title_display }}</td>
                </tr>

                <tr>
                    <td>Last Login Date</td>
                    <td>{{ object.last_login.date }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="buttons">
                            <a class="btn" href="{% url 'edit user' pk=request.user.pk %}">Edit</a>
                            <a class="btn" href="{% url 'delete user' pk=request.user.pk %}">Delete</a>
                            <a class="btn" href="javascript:history.back()">Back</a>
                        </div>
                    </td>

                </tr>

                </tbody>

            </table>

        </article>
    </main>
{% endblock %}





{#    {{ object.profile.full_name.upper }}#}
{##}
{#    {{ object.email }}#}
{#    <a class="text-danger " href="{% url 'sign out' %}">SingOut</a>#}
{##}
{#    {{ object.profile.get_job_title_display }}#}
{##}
{#    {{ object.last_login.date }}#}
{##}
{#    <a href="{% url 'edit user' pk=request.user.pk %}">Edit</a>#}
{##}
{#    <a href="{% url 'delete user' pk=request.user.pk %}">Delete</a>#}
{#    <a href="javascript:history.back()">Back</a>#}
{##}

