{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!-- container -->
    <div class="container h-75">
        <!-- item container -->
        <div class="items-container">
            <!-- item -->
            <div class="item">
                <!-- h1 -->
                <div class="form-h1">
                    <h1>Log Out</h1>
                </div>
                <form method="post" action="{% url 'sign out' %}">
                    {{ form }}
                    <button>Logout</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
