{% extends 'base/base.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}
    <!-- container -->
    <div class="container">
        <div class="form-h1 my-3 my-5 text-black">
            <h1>Sign In</h1>
        </div>
        <section class="section-menu-details col-12  min-vh-75">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="card hover-shadow col-sm-4 mb-12">
                    <form action="{% url 'sign in' %}" method="post" enctype="multipart/form-data">

                        <hr class="my-4"/>
                        <label for="email">Email</label>
                        {{ form.username|placeholder:'Enter your email' }}
                        <label for="password1">Password</label>
                        {{ form.password|placeholder:'Enter your password' }}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="buttons mb-5 my-3">
                            <button type="submit" class="btn btn-black btn-block">Sign in</button>
                            <p>Don't have account? <a href="{% url 'sign up' %}" class="text-danger">Create an
                                account</a></p>
                            {# <a class="text-danger" href="#!">Forgot password?</a> #}
                        </div>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </section>
    </div>
{% endblock %}
