{% extends 'base/base.html' %}
{% block page_content %}
    <main class="main">
        <article class="form-wrapper">
            <h1>Comment Edit</h1>

            <form action="{% url 'comment edit' pk=comment.pk recipe_id=recipe.pk %}" method="post"
                  enctype="multipart/form-data" class="comment-form">
                {{ form }}
                {% csrf_token %}
                <div class="buttons">
                    <button class="btn">Edit</button>
                    <a class="btn" href="javascript:history.back()">Back</a>
                </div>


            </form>
        </article>

    </main>
{% endblock %}

