{% extends 'base/base.html' %}
{% block page_content %}
{#    <!-- container -->#}
{#    <div class="container h-75">#}
{#        <!-- item container -->#}
{#        <div class="items-container">#}
{#            <!-- item -->#}
{#            <div class="item">#}
{#                <!-- h1 -->#}
{#                <div class="content">#}
{#                    <h4>{{ comment.user.profile.full_name }} <br>do you really want to delete your comment? <br></h4>#}
{#                </div>#}
{##}
{#                <form method="post" action="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"#}
{#                      enctype="multipart/form-data">#}
{#                    <hr class="my-4"/>#}
{#                    <div class="accordion-flush">#}
{#                    </div>#}
{#                    {{ form }}#}
{#                    {% csrf_token %}#}
{#                    <div class="buttons mb-5">#}
{#                        <button type="submit" class="btn btn-danger btn-block">Yes</button>#}
{#                        <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go#}
{#                            Back</a>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



    <div class="container">
    <!-- card block title -->
    <div class="form-h1 my-3 my-5 text-black">
{#        <h1>Delete Comment</h1>#}
    </div>
    <section class="section-menu-details col-12  min-vh-100">
        <div class="row">
            <div class="col-sm-4"></div>
            <!-- card start -->
            <div class="card hover-shadow col-sm-4 mb-12">
                <div class="card-body">
                    <hr class="my-4"/>
                    <h4>{{ comment.user.profile.full_name }} <br>do you really want to delete your comment? <br></h4>
                </div>
                <div class="card-footer text-center">
                    <form method="post" action="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"
                          enctype="multipart/form-data">

                        <div class="accordion-flush">
                        </div>
                        {{ form }}
                        {% csrf_token %}
                        <div class="buttons mb-5 my-3">
                            <br>
                            <button type="submit" class="btn btn-danger btn-block">Yes</button>
                            <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                                Back</a>
                        </div>
                    </form>
                </div>
                <!-- card end -->
                <div class="col-sm-4"></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
