{% extends 'base/base.html' %}
{% block page_content %}
    <main class="container" style="height: 80.3%">
        <div class="my-3 my-5 text-black">
            <h1>Delete Comment</h1>
        </div>
        <section class="section-comment-delete col-12 mb-11">
            <div class="row">
                <div class="col-1 col-sm-1 col-md-2 col-lg-4 col-xl-4 col-xxl-4"></div>
                <!-- card start -->
                <div class="card hover-shadow
                             col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
                    <div class="card-body">
                        <h4>{{ comment.user.profile.full_name }} <br>do you really want to delete your comment? <br>
                        </h4>
                    </div>
                    <div class="card-footer text-center">
                        <form method="post" action="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"
                              enctype="multipart/form-data">
                            <div class="accordion-flush">
                            </div>
                            {{ form }}
                            {% csrf_token %}
                            <div class="buttons my-3">
                                <br>
                                <button type="submit" class="btn btn-danger btn-block">Yes</button>
                                <a class="btn btn-outline-black btn-block" href="javascript:history.back()">Go
                                    Back</a>
                            </div>
                        </form>
                    </div>
                    <!-- card end -->

                </div>
                <div class="col-1 col-sm-1 col-md-2 col-lg-4 col-xl-4 col-xxl-4"></div>
            </div>
        </section>
    </main>
{% endblock %}
