{% extends 'base/base.html' %}
{% block page_content %}
    <main class="main">


        <article class="form-wrapper comments">
            <h2 class="title">Delete Comment</h2>
           <b> {{ comment.user.profile.full_name }}</b> наистина ли искате да изтриете вашия коментар?

            <form class="form" method="post" action="{% url 'comment delete' pk=comment.pk recipe_id=recipe.pk %}"
                  enctype="multipart/form-data">
                <div class="accordion-flush">
                </div>
                {{ form }}
                {% csrf_token %}
                <div class="buttons">

                    <button type="submit" class="btn">Yes</button>
                    <a class="btn" href="javascript:history.back()">Back</a>
                </div>
            </form>


        </article>
    </main>
{% endblock %}
